<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Hechizos</title>
</head>
<body>
<h1>Lista de Hechizos</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Tipo</th>
    <th>Autorizado</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="hechizo : ${hechizos}">
    <td th:text="${hechizo.id}"></td>
    <td th:text="${hechizo.nombre}"></td>
    <td th:text="${hechizo.descripcion}"></td>
    <td th:text="${hechizo.tipo}"></td>
    <td th:text="${hechizo.autorizado}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>